.app-container {
    display: flex;
}

.content {
    width: 100%;
}

.sidebar {
    min-height: 800px;
}

.post-card {
    margin: 20px 50px;
}

.hashtag {
    margin: 10px
}

.create-post {
    width: 80%;
    margin: 50px auto;
    /* border: 2px solid gray */
}

.welcome-msg {
    margin: 60px 0;
}